<h2>会員一覧</h2>
<% @users.each do |user| %>
  <table>
    <tbody>
      <tr>
        <td>
          <%= link_to admin_user_path(user) do %>
            <%= image_tag user.get_profile_image(100, 100) %>
          <% end %>
        </td>
        <td>
          <%= link_to admin_user_path(user) do %>
            <%= user.name %>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>
